{% extends "BackBundle::layout.html.twig" %}

{% block pageHeader %}Suivi de scolarité{% endblock %}

{% block pageContent %}

    <a href="{{ path('eleve_add') }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
    </a>

    {% for message in app.flashes('eleveOk') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Elève ajouté avec <strong>succès</strong> !
        </div>
    {% endfor %}

    {% for message in app.flashes('eleveDelete') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Elève supprimé avec <strong>succès</strong> !
        </div>
    {% endfor %}

    {% for message in app.flashes('eleveModif') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Elève modifié avec <strong>succès</strong> !
        </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Liste des élèves</b>
        </div>
        <!-- /.panel-heading -->
        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="eleve-table">
            <thead>
            <tr>
                <th>Nom - Prénom</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Date obtention BAC</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for eleve in eleves %}
                <tr>
                    <td class="text-center">{{ eleve.firstName }} {{ eleve.lastName }}</td>
                    <td class="text-center">{{ eleve.city }}</td>
                    <td class="text-center">{{ eleve.zipCode }}</td>
                    <td class="text-center">{{ eleve.address }}</td>
                    <td class="text-center">{{ eleve.obtentionBac | date("Y") }}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-success" aria-label="Left Align">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                        <a href = "{{ path('eleve_edit',{'id': eleve.id}) }}" class="btn btn-primary" aria-label="Left Align">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>

                        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-danger" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">Suppression élève</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Êtes-vous sûr de vouloir supprimer cette élève ?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <a href = "{{ path('eleve_remove',{'id': eleve.id}) }}" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer élève</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-arrow-left"></span> Retour</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>






{% endblock %}


{% block javascript %}
    {{ parent() }}
    <!-- DataTables JavaScript -->

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#eleve-table').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}