{% extends "BackBundle::layout.html.twig" %}

{% block pageHeader %}Gestion des promos{% endblock %}

{% block pageContent %}

    <a href="{{ path('promo_add') }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
    </a>

    {% for message in app.flashes('promoOk') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Promo ajouté avec <strong>succès</strong> !
        </div>
    {% endfor %}

    {% for message in app.flashes('promoDelete') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Promo supprimé avec <strong>succès</strong> !
        </div>
    {% endfor %}

    {% for message in app.flashes('promoModif') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Promo modifié avec <strong>succès</strong> !
        </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Liste des promos</b>
        </div>
        <!-- /.panel-heading -->
        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="eleve-table">
            <thead>
            <tr>
                <th>Promo</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for promo in promos %}
                <tr>
                    <td class="text-center">{{ promo.label }}</td>
                    <td class="text-center">
                        <a href = "{{ path('promo_edit',{'id': promo.id}) }}" class="btn btn-primary" aria-label="Left Align">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">Suppression  promo</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Êtes-vous sûr de vouloir supprimer cette promo ?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-arrow-left"></span> Retour</button>
                                        <a href = "{{ path('promo_remove',{'id': promo.id}) }}" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer promo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


{% block javascript %}
    {{ parent() }}
    <!-- DataTables JavaScript -->

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#eleve-table').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}