<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Gestion des stages v1.0{% endblock %}</title>
    {% block stylesheets %}
        <!-- ==========================
                 CSS
        =========================== -->
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="{{ asset('metisMenu/metisMenu.min.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('dist/css/sb-admin-2.css') }}" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="{{ asset('morrisjs/morris.css') }}" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/datepicker.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/daterangepicker.min.css') }}" rel="stylesheet" type="text/css">

        <link href="{{ asset('style.css') }}" rel="stylesheet">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">



        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css"/>
    {% endblock %}
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


    <![endif]-->

</head>

<body>

<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img style="height:30%,margin-bottom:20px;" class="navbar-brand " src="{{ asset('images/logo.png') }}">
            <div class="navbar-brand">Gestion des stages</div>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user fa-fw"></i>Profile</a>
                    </li>

                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Recherche...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="{{ path('default_show') }}"><i class="fa fa-dashboard fa-fw"></i> Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('stage_show') }}"><i class="fa fa-pencil-square-o fa-fw"></i> Stages</a>
                    </li>
                    <li>
                        <a href="{{ path('entreprise_index') }}"><i class="fa fa-briefcase fa-fw fa-fw"></i>
                            Entreprise</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> Suivi
                            Scolarité<span
                                    class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path('eleve_show') }}">Elèves</a>
                            </li>
                            <li>
                                <a href="{{ path('classe_show') }}">Classe</a>
                            </li>
                            <li>
                                <a href="{{ path('promo_show') }}">Promo</a>
                            </li>
                            <li>
                                <a href="#">Types de BAC</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block pageHeader %}{% endblock %}</h1>
            </div>
        </div>
        {% block pageContent %}
        {% endblock %}
    </div>

</div>


<footer>
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Gestion des stages </p>
            <div class="pull-right">
                <ul class="nav nav-pills payments">
                    <li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.footer-bottom-->
</footer>

<!-- /#wrapper -->
{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset('jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('jquery/moment.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>


    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset('metisMenu/metisMenu.min.js') }}"></script>
    <!-- Morris Charts JavaScript -->
    <script src="{{ asset('raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('data/morris-data.js') }}"></script>
    <script src="{{ asset('morrisjs/morris.min.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('dist/js/sb-admin-2.js') }}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
    <!-- Pour les relations many to many -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <!-- Pour les datetimes -->

    <script src="{{ asset('js/eModal.min.js') }}"></script>
    <script src="{{ asset('js/daterangepicker.js') }}"></script>
{% endblock %}

</body>

</html>

