{% extends "BackBundle::layout.html.twig" %}
{% block pageHeader %}Gestion des référents Professionnels{% endblock %}
{% block pageContent %}
    <a href="{{ path('refPro_add') }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
    </a>


    {% for message in app.flashes('refProOk') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Référent ajouté avec <strong>succès</strong> !
        </div>
    {% endfor %}
    {% for message in app.flashes('refProModif') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Référent modifié avec <strong>succès</strong> !
        </div>
    {% endfor %}
    {% for message in app.flashes('refProDeleteOk') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Référent supprimé avec <strong>succès</strong> !
        </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Liste des Référents professionels</b>
        </div>
        <!-- /.panel-heading -->
        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="eleve-table">
            <thead>
            <tr>
                <th>Nom - Prénom</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for refPro in refPros %}
                <tr>
                    <td class="text-center">{{ refPro.firstName }} {{ refPro.lastName }}</td>
                    <td class="text-center">{{ refPro.city }}</td>
                    <td class="text-center">{{ refPro.address }}</td>
                    <td class="text-center">{{ refPro.zipCode }}</td>
                    <td class="text-center">
                        <a href = "{{ path('refPro_edit',{'id': refPro.id}) }}" class="btn btn-primary"
                           aria-label="Left Align">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>

                        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-danger" aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">Suppression élève</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Êtes-vous sûr de vouloir supprimer cette élève ?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><span
                                                    class="glyphicon glyphicon-arrow-left"></span> Retour
                                        </button>
                                        <a href="{{ path('refPro_remove',{'id': refPro.id}) }}" type="button"
                                           class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>
                                            Supprimer élève</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ asset('datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datatables-responsive/dataTables.responsive.js') }}"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#eleve-table').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}
