{% extends "BackBundle::layout.html.twig" %}

{% block pageHeader %}

    {% if action %}
        Ajout d'un stage
    {% else %}
        Modification d'un stage
    {% endif %}


{% endblock %}

{% block pageContent %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal validation','data-toggle':'validator'}}) }}
    <div class="form-group">
        {{ form_label(form.dateDebut, "Date de debut", {'label_attr': {'class': 'col-sm-2 control-label '}}) }}
        {{ form_errors(form.dateDebut) }}
        <div class='col-sm-10'>
            <div class="input-group">
                {{ form_widget(form.dateDebut, {'attr': {'class': 'form-control','data-toggle' :'datepicker'}}) }}
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>

        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.dateFin, "Date de fin", {'label_attr': {'class': 'col-sm-2 control-label '}}) }}
        {{ form_errors(form.dateFin) }}
        <div class='col-sm-10'>
            <div class="input-group">
                {{ form_widget(form.dateFin, {'attr': {'class': 'form-control','data-toggle' :'datepicker'}}) }}
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>

        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.lesTechno, "Les technologies", {'label_attr': {'class': 'col-sm-2
                        control-label'}}) }}
        {{ form_errors(form.lesTechno) }}
        <div class="col-sm-10">
            {{ form_widget(form.lesTechno, {'attr': {'class': 'form-control selectpicker',
                'title': 'Selectionner une ou plusieurs technologie(s)'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.leEleve, "L'éleve", {'label_attr': {'class': 'col-sm-2
                        control-label'}}) }}
        {{ form_errors(form.leEleve) }}
        <div class="col-sm-10">
            {{ form_widget(form.leEleve, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.leReferentPro, "Le Referent Pro", {'label_attr': {'class': 'col-sm-2
                        control-label'}}) }}
        {{ form_errors(form.leReferentPro) }}
        <div class="col-sm-10">
            {{ form_widget(form.leReferentPro, {'attr': {'class': 'form-control selectpicker'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.leReferentPeda, "Le Referent Peda", {'label_attr': {'class': 'col-sm-2
                        control-label'}}) }}
        {{ form_errors(form.leReferentPeda) }}
        <div class="col-sm-10">
            {{ form_widget(form.leReferentPeda, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.leEntreprise, "L'entreprise", {'label_attr': {'class': 'col-sm-2
                        control-label'}}) }}
        {{ form_errors(form.leEntreprise) }}
        <div class="col-sm-10">
            {{ form_widget(form.leEntreprise, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.dateDebut) }}
    {{ form_row(form.dateFin) }}
    {{ form_row(form.lesTechno) }}
    {{ form_row(form.leEleve) }}
    {{ form_row(form.leReferentPro) }}
    {{ form_row(form.leReferentPeda) }}
    {{ form_row(form.leEntreprise) }}
    <div class="spaceButton">
        <a href="{{ path('stage_show') }}" class="btn btn-default"><span
                    class="glyphicon glyphicon-arrow-left"></span>
            Retour</a>
        {{ form_widget(form.Valider, {'attr': {'class': 'btn btn-success'}}) }}

    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}




{% endblock %}


{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/datepicker.common.js') }}"></script>
    <script src="{{ asset('js/datepicker.esm.js') }}"></script>
    <script src="{{ asset('js/datepicker.js') }}"></script>
    <script type="text/javascript">
        $('[data-toggle=\"datepicker\"]').datepicker({
            format: "dd-mm-yyyy",
            zIndex: 1400,
        });
    </script>
{% endblock %}

