{% extends "BackBundle::layout.html.twig" %}
{#{% form_theme form 'bootstrap_3_layout.html.twig' %}#}
{% block pageHeader %}Gestion des stages{% endblock %}
{% block pageContent %}
    <a href="{{ path('stage_add') }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
    </a>


    {% for message in app.flashes('stageOk') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Stage ajouté avec <strong>succès</strong> !
        </div>
    {% endfor %}
    {% for message in app.flashes('stageModif') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Stage modifié avec <strong>succès</strong> !
        </div>
    {% endfor %}
    {% for message in app.flashes('stageDeleteOk') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Stage supprimé avec <strong>succès</strong> !
        </div>
    {% endfor %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Liste des élèves</b>
        </div>
        <!-- /.panel-heading -->
        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
               id="stage-table">
            <thead>
            <tr>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>Les Technos</th>
                <th>Eleve</th>
                <th>Le Referent Pro</th>
                <th>Le Referent Pedagogique</th>
                <th>L'Entreprise</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for stage in stages %}
                <tr>
                    <td class="text-center">{{ stage.dateDebut | date("d/m/Y") }}</td>
                    <td class="text-center">{{ stage.dateFin | date("d/m/Y") }}</td>
                    <td class="text-center">{{ stage.lesTechno|length }}</td>
                    <td class="text-center">{{ stage.leEleve }}</td>
                    <td class="text-center">{{ stage.leReferentPro }}</td>
                    <td class="text-center">{{ stage.leReferentPeda }}</td>
                    <td class="text-center">{{ stage.leEntreprise }}</td>
                    <td class="text-center">
                        <button type="button" class="btn btn-success" aria-label="Left Align">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                        <a href="{{ path('stage_edit',{'id': stage.id}) }}" class="btn btn-primary"
                           aria-label="Left Align">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>

                        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-danger"
                                aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Suppresion élève</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Êtes-vous sûr de vouloir supprimer cette élève ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('stage_remove',{'id': stage.id}) }}" type="button"
                                           class="btn btn-danger">Oui</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
{% block javascript %}
    {{ parent() }}
    <!-- DataTables JavaScript -->

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#stage-table').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}
