{% extends "BackBundle::layout.html.twig" %}
{% block pageHeader %}{{ entreprise.nom }}{% endblock %}
{% block pageContent %}
    <h1>Informations de l'entreprise</h1>
    <p>Cette sociéte totalise <b>{{ lesStages | length }}</b>stage à son actif</p>
    <p>{{ entreprise.leTypeEnt.label }}</p>
    <p>{{ entreprise.cA }}</p>
    <p>{{ entreprise.adresse }}</p>
    <p>{{ entreprise.zipCode }}</p>
    <p>{{ entreprise.city }}</p>
    <p>{{ entreprise.country }}</p>
    <p>{{ entreprise.telephone }}</p>

    <br>
    {% for message in app.flashes('entrepriseDeleteOk') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Stage supprimé avec <strong>succès</strong> !
        </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Les Referents Pro</b>
        </div>
        <!-- /.panel-heading -->
        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
               id="dataTables-example">
            <thead>
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Ville</th>
                <th>Code Postal</th>

            </tr>
            </thead>
            <tbody>
            {% for refPro in lesRefPro %}
                <tr>
                    <td class="text-center">{{ refPro.firstName }}</td>
                    <td class="text-center">{{ refPro.lastName }}</td>
                    <td class="text-center">{{ refPro.phone }}</td>
                    <td class="text-center">{{ refPro.city }}</td>
                    <td class="text-center">{{ refPro.zipCode }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Les Stages</b>
        </div>
        <!-- /.panel-heading -->
        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
               id="dataTables-example2">
            <thead>
            <tr>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>Techno</th>
                <th>Eleve</th>
                <th>Referent Pro</th>
                <th>Referent Peda</th>
            </tr>
            </thead>
            <tbody>
            {% for stage in lesStages %}
                <tr>
                    <td class="text-center">{{ stage.dateDebut|date("m/d/Y") }}</td>
                    <td class="text-center">{{ stage.dateFin|date("m/d/Y") }}</td>
                    <td class="text-center">{{ stage.lesTechno | length }}</td>
                    <td class="text-center">{{ stage.leEleve }}</td>
                    <td class="text-center">{{ stage.leReferentPro }}</td>
                    <td class="text-center">{{ stage.leReferentPeda }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ asset('datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datatables-responsive/dataTables.responsive.js') }}"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
        $(document).ready(function () {
            $('#dataTables-example2').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}
