{% extends "BackBundle::layout.html.twig" %}
{% block pageHeader %}Gestion des entreprises{% endblock %}
{% block pageContent %}
    <a href="{{ path('entreprise_add') }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
    </a>
    {% for message in app.flashes('entrepriseOk') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Entreprise ajouté avec <strong>succès</strong> !
        </div>
    {% endfor %}
    {% for message in app.flashes('entrepriseModif') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Entreprise modifié avec <strong>succès</strong> !
        </div>
    {% endfor %}
    {% for message in app.flashes('entrepriseDeleteOk') %}
        <div class="alert alert-success alert-dismissible spaceTop" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            Entreprise supprimé avec <strong>succès</strong> !
        </div>
    {% endfor %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>Liste des entreprises</b>
        </div>
        <!-- /.panel-heading -->
        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
               id="eleve-table">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Type</th>
                <th>Chiffre d'affaire</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entreprise in entreprises %}
                <tr>
                    <td class="text-center">
                        {{ entreprise.nom }}
                    </td>
                    <td class="text-center">{{ entreprise.leTypeEnt.label }}</td>
                    <td class="text-center">{{ entreprise.ca }}</td>
                    <td class="text-center">{{ entreprise.telephone }}</td>
                    <td class="text-center">{{ entreprise.adresse }}</td>
                    <td class="text-center">{{ entreprise.zipCode }}</td>
                    <td class="text-center">{{ entreprise.city }}</td>
                    <td class="text-center">{{ entreprise.country }}</td>
                    <td class="text-center">
                        <a href="{{ path('entreprise_show', {'id': entreprise.id}) }}">
                            <button type="button" class="btn btn-success" aria-label="Left Align">
                            <span class="glyphicon
                            glyphicon-eye-open" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ path('entreprise_edit',{'id': entreprise.id}) }}" class="btn btn-primary"
                           aria-label="Left Align">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-danger"
                                aria-label="Left Align">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">Suppression  promo</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Êtes-vous sûr de vouloir supprimer cette promo ?</h3>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-arrow-left"></span> Retour</button>
                                        <a href = "{{ path('entreprise_remove',{'id': entreprise.id}) }}" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer promo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <!-- DataTables JavaScript -->
    <script src="{{ asset('datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('datatables-responsive/dataTables.responsive.js') }}"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#eleve-table').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}
